*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
form{
    width: 60%;
    height: 60%;
    /*border: 2px solid rgba(0, 0, 0, 0.447);*/
    box-shadow: 2px 2px 7px rgba(177,177,177,0.5);
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
}
div.allcode{
    box-sizing: border-box;
}
div.container-form{
    display: inline-block;
    width: 70%;
    height: 30%;
    margin: auto;
    margin-top: 7%;
    box-sizing: border-box;
}
input{
    width: 90%;
    padding: 1% 2%;
    box-sizing: border-box;
    font-size: 1.2vw;
    border: 1px solid rgba(0, 0, 0, 0.427);
}
input:focus{
    outline: none;
    transform: scale(1.04, 1.04);
    transition: 1s;

}
#botton-generate-graphic{
}
button{
    padding: 1%;
    border-radius: .3vw;
    border: 1px solid rgb(96, 197, 199);
    background-color: rgb(96, 197, 199);
    color: aliceblue;
    font-size: 1.5vw;
    translate: 120% -80%;
    cursor: pointer;
}
/*span::before {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}*/